<h1>{{nombre}}</h1>

<button disabled='false'>Presiona</button>
<br><br>
<button enabled='true'>Press</button>
<br><br>
<!-- manejo desde el ts -->
<button [disabled]="btnDisabled">Algo</button>
<br><br>
<!-- agregar un valor por default a un input  -->
<input type="text" [value]="'Aqui va algo desde el ts'">
<br><br>
<progress max="100" [value]="age"></progress>
<br><br>
<img [src]="imgTest" alt="image">
<br><br>
<!-- with object  -->
<p>
  {{ persona | json }}
</p>
<br>
<!-- with object access to key specific -->
<p>
  {{ persona.name }}
</p>
<p>
  {{ persona.address.calle }}
</p>
<br>
<button [disabled]='banderaBoton'>Presiona</button>
<br>
<button (click)="toggleButton()">
  deshabilitar
</button>
<br><br>
<!-- aumentar edad -->
<h2>
  Edad {{ age }}
</h2>
<button (click)="increaseAge()">
  Aumentar Edad
</button>
<!-- tambien aumenta progress bar por que apunta la edad -->
<br>
<progress max="100" [value]="age"></progress>

